.content-omnie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc{
    margin-top: 40px;
    width: 70%;
    font-size: 1.3em;
    line-height: 1.8em;
}

.galery{
    margin-top: 140px;
    border: 1px solid black;
}
