/* #0398fc  - this is header blue color */ 
body{
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}
.container{
    /* border: 1px solid black; */
}


.header{
    background: #0398fc;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
    position: relative;
}

.menu-navbar{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
}

.menu-link{
    margin-right: 20px;
    color: white;
    /* border: 1px solid black; */
    padding: 10px 20px;
    font-size: 1.2em;
    transition: background 0.2s;
}

.menu-link:hover{
    background: rgba(1,1,1, 0.3);
    cursor: pointer;
}

.main-title-container{
    margin-top: 30px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    /* border: 1px solid black; */
}

.small-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 550px;
    margin-top: 20px;
}

.small-title{
    color: white;
    font-weight:200;
    font-size: 1.7em;
    /* border: 1px solid black; */
}

.kali-quote{
    color: white;
    position: absolute;
    transform: rotate(-20deg);
    left: 50px;
    top: 90px;
    font-size: 1.5em;
    font-weight: 100;
}


@media (max-width: 1000px) {
    /* .header{
        height: 350px;
    } */
    .menu-navbar{
        justify-content: center;
        align-items: center;
    }
    .menu-link{
        padding: 5px 5px;
    }
    .kali-quote{
        opacity: 0;
    }
}


@media (max-width: 600px) {
    .menu-navbar{
        /* display: block;
        border: 1px solid black;
        font-size: 1em;
        padding-top: 0;
        margin: 0 auto; */
        display:flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .menu-link{
        text-align: center;
        /* padding: 5px 5px; */
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .main-title-container{
        margin: 0;
        padding: 0;
    }
    .main-title{
        font-size: 3em;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .small-title-container{
        width: auto;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        
    }
    .small-title{
        font-size: 1em;
    }
    
    .kali-quote{
        opacity: 0;
    }
}

@media (max-width: 320px) {
    .main-title{
        font-size: 2em;
    }
}