.content-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 75%;
    margin: 50px auto 0 auto;
}

.content-header{
    font-size: 1.5em;
    margin-bottom: 35px;
}

.technologies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.technology{
    border: 2px solid black;
    /* margin: 10px 90px ; */
    width: 30%;
}

.tech-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-image img{
    width: 150px;
}

.tech-header{
    text-align: center;
    font-size: 2em;
    font-weight: bold;  
}


@media (max-width: 900px) {
    .technology{
        border: 2px solid black;
        width: 45%;
    }
    .content-header{
        font-size: 1em;
        margin-bottom: 35px;
    }
    .tech-image img{
        width: 75px;
    }

}

@media (max-width: 600px) {
    .technology{
        border: 2px solid black;
        width: 80%;
    }
}

@media (max-width: 320px) {
    .content-container{
        width:90%;
    }
    .content-header{
        font-size: 0.5em;
    }
    .tech-image img{
        width: 50px;
    }
    .tech-header{
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
    }
}